<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885269858108-0njgc3flco1hn3651riqgg9sdfabt499.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885269858108-0njgc3flco1hn3651riqgg9sdfabt499</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>885269858108-0nvrhm0a4mupmi278vs4el04i9vgl932.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBDWjZuUBMzB6fmRz1Bw1ZSKjy3mM951tM</string>
	<key>GCM_SENDER_ID</key>
	<string>885269858108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thekidscorner.kidscorner</string>
	<key>PROJECT_ID</key>
	<string>the-kids-corner</string>
	<key>STORAGE_BUCKET</key>
	<string>the-kids-corner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885269858108:ios:598d56d959f3d6c5324039</string>
</dict>
</plist>